@import "./variable.less";

.app-header {
  background-color: @color-theme;
  height: 66px;
  line-height: 66px;
  padding: 0 20px;
  .ant-menu-horizontal > .ant-menu-item > a {
    color: #fff;
  }
  .ant-menu-horizontal>.ant-menu-item.ant-menu-item-selected > a {
    color: @color-theme-sub;
  }
  span {
    color: #fff;
    font-size: 14px;
    cursor: pointer;
  }
  & .logo,
  & .nav {
    float: left;
  }
  .logo {
    margin: 0 30px;
    width: 150px;
    height: 100%;
    display: flex;
    align-items: center;
    img {
      vertical-align: middle;
      max-width: 150px;
      max-height: 50px;
    }
  }
  .nav {
    background-color: @color-theme;
    color: #fff;
    height: 100%;
    line-height: 66px;
    .ant-menu-item {
      height: 100%;
    }
  }
  .ant-menu-horizontal {
    border-bottom: 0;
  }
  .login-item {
    margin: 0 20px;
  }
  .login,
  .app-download,
  .balance-wrap {
    float: right;
  }
  .login {
    .login-item {
      margin: 0 10px;
      color: #fff;
    }
  }
  .app-download {
    .login-item {
      position: relative;
      background-color: rgba(40, 40, 40, 0.7);
      padding: 7px 8px;
      border-radius: 3px;
      .anticon {
        margin-right: 2px;
      }
    }
  }
}

@keyframes rotateUp {
  from {
    transform: rotateZ(180deg);
  }

  to {
    transform: rotateZ(0deg);
  }
}

@keyframes rotateDown {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(180deg);
  }
}