@import "./variable.less";

.app-header {
  background-color: @color-theme;
  height: 66px;
  line-height: 66px;
  padding: 0 20px;
  & .logo,
  & .nav {
    float: left;
  }
  .logo {
    margin: 0 30px;
    height: 100%;
    display: flex;
    align-items: center;
    img {
      vertical-align: middle;
      max-width: 150px;
      max-height: 50px;
    }
  }
  .nav {
    background-color: @color-theme;
    color: #fff;
    height: 100%;
    line-height: 66px;
    .ant-menu-item {
      height: 100%;
    }
  }
  .ant-menu-horizontal {
    border-bottom: 0;
  }
  .login {
    float: right;
    .login-item {
      margin: 0 10px;
      color: #fff;
    }
  }
}

@keyframes rotateUp {
  from {
    transform: rotateZ(180deg);
  }

  to {
    transform: rotateZ(0deg);
  }
}

@keyframes rotateDown {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(180deg);
  }
}